//
// ===== Greys ===== 
//
$grey-title: #6d6e71;
$grey-text:  #5f6062;

//
// ===== Whites ===== 
//
$white: 	 #ffffff; 

//
// ===== Accents ===== 
//
$orange-accent: #ef7b44;
$blue-accent:   #809b9e;
$blue-accent-hover: #729293;
$ani-background: #A6BAC2;

//
// ===== Hover Colors ===== 
//
$hover-gold: #D0A548;
$hover-orange: #D27933;
$hover-aquablue: #00B0B9;
$hover-darkblue: #455574;
$hover-grey: #999999;

//
// ===== Fonts ===== 
//
$title-font: 'Oxygen', sans-serif;
$body-font:  'Oxygen', sans-serif;
$bold-weight: 700;
$regular-weight: 400;
$light-weight: 300;