@use "../utilities/variables";

.form-button {
	width: 115px;
	height: 40px;
	background-color: variables.$blue-accent;
	font-size: 22px;
	color: variables.$white;
	border: none;
	letter-spacing: 0.5px;
	font-family: variables.$title-font;
	font-weight: variables.$bold-weight;
}

.form-button:hover {
	cursor: pointer;
	background-color: variables.$blue-accent-hover;
}

a.left-clear-button, a.right-clear-button {
	color: variables.$orange-accent;
	font-family: variables.$title-font;
	font-weight: variables.$regular-weight;
	position: relative;
	background: transparent;
	font-size: 1.7rem;
	letter-spacing: 0.5px;
	display: block;
	margin-top: 40px;
	margin-bottom: 40px;
}

a.left-clear-button { margin-left: 25px; }

a.left-clear-button::before, .right-clear-button::after {
	content:"";
	width: 20px;
	max-height: 29px;
	height: 100%;
	position: absolute;	
	margin-top: 4px;
}

a.left-clear-button::before {
	background-image: url("../icons/buttons/left-arrow.svg");
	background-repeat: no-repeat;
	float: left;
	margin-left: -25px;
}

a.right-clear-button::after {
	background-image: url("../icons/buttons/right-arrow.svg");
	background-repeat: no-repeat;
	float: right;
	margin-left: 7px
}