@use "../utilities/variables";


/*==============================
  Level One: 
  Grid gallery
==============================*/

.grid-container {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 15px 0 0;
}
.grid-item { width: calc(25% - 15px); }

@media only screen and (max-width: 900px)  { .grid-item { width: calc(33.3333% - 15px); } }
@media only screen and (max-width: 700px)  { .grid-item { width: calc(50% - 15px); }}


/*==============================
  Level Two: 
  Image container & background
==============================*/

.viewbox { 
  margin: 0 0 15px 15px;
  position: relative;
  overflow: hidden;
}
.background {
   width: 345px;
   height: 345px;
   overflow: hidden;
   position: absolute; 
   bottom: 0;
   opacity: 1;
   transition: all 0.4s ease-in-out;
   transform: translateY(345px);
}
.gold-mask   { background-color: variables.$hover-gold; }
.orange-mask { background-color: variables.$hover-orange; }
.aqua-mask   { background-color: variables.$hover-aquablue; }
.blue-mask   { background-color: variables.$hover-darkblue; }
.grey-mask   { background-color: variables.$hover-grey; }


/*==============================
  Level Three: 
  Content
==============================*/

.viewbox-content {
  position: absolute;
  bottom: 0;
  width: 310px;
  height: 50%;
  padding-right: 10px;
  padding-left: 20px;
}

@media only screen and (max-width: 1300px) { .viewbox-content { width: 260px; height: 40%; }}
@media only screen and (max-width: 1110px) { .viewbox-content { width: 225px; padding-left: 15px; }}
@media only screen and (max-width: 1000px) { .viewbox-content { width: 200px; }}

.viewbox h2 {
   font-family: variables.$title-font;
   font-weight: variables.$bold-weight;
   color: #fff;
   text-align: left;
   position: relative;
   font-size: 1.2vw;
   margin: 0;
   padding: 0;
}
.viewbox p {
   font-family: variables.$body-font;
   weight: variables.$regular-weight;
   font-size: 1.2vw;
   position: relative;
   color: #fff;
   text-align: left;
   line-height: 1.3;
   margin-top: 10px;
}
.clear-arrow {
  width: 30px;
  position: absolute;
  right: 0;
  margin-top: -10px;
  margin-right: 10px;
}

/*==============================
  Level Four: 
  Hover states
==============================*/
@media (hover: hover) {
  .viewbox:hover .background,
  .viewbox:hover .viewbox-content {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media only screen and (max-width: 900px)  { .background { display: none; }}