/* Boxes */
.box-1440 { max-width: 1440px; }
.box-1260 { max-width: 1260px; }
.box-960  { max-width: 960px;  }
.box-700  { max-width: 700px;  }
.box-600  { max-width: 600px;  }
.box-450  { max-width: 450px;  }

/* Margins */
.mar-top-75  { margin-top: 75px; }
.mar-bot-75  { margin-bottom: 75px; }

/* Padding */
.pad-top-100 { padding-top: 100px; }
.pad-bot-100 { padding-bottom: 100px; }
.pad-top-75  { padding-top: 75px; }
.pad-bot-75  { padding-bottom: 75px; }

.float-right { float: right; }